<p>rooms-list works!</p>
<div >
    Rooms List
    <table>
        <tr>
            <th>index</th>
            
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Room Price</th>
            <th>Room Amenities</th>
            <th>Room checkInTime</th>
            <th>Rating</th>
            <th>Select Room</th>
        </tr>
        <tr *ngFor="let room of rooms ; let i=index">

            <td>{{+ i}}</td>
            <td>{{room.roomNumber}}</td>
            <td>{{room.roomType|lowercase}}</td>
            <td>{{room.amenities}}</td>
            <td>{{room.price|currency :'Ksh'}}</td>
            <td>{{room.checkInTime|date :'dd/mm/yy'  }}</td>
            <td>{{room.rating|number :'1.'}}</td>
            <td>
                <button class=" btn btn-primary"
                (click)="selectRoom(room)">Select</button>
            </td>
            

        </tr>
    </table>
    
</div>
