<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="rooms.component.css">
</head>
<body>
    <app-header></app-header>
    <!-- <h1>Welcome to {{hotelName}}.</h1> -->

    <h6>This is the best hotel</h6>
    <div [hidden]="hideRooms">
        Number of rooms:()
        <div [innerText]="numberOfRooms"></div>
    </div>

    <div *ngIf="rooms.availableRooms">0
    <app-rooms-list [rooms]="Roomlist"
    (selectedRoom)="selectRoom(room)"> </app-rooms-list>
    </div>
    
  
    
    
    
    
    
    
    
    <button (click)="toggle()">Toggle</button>  
</body>
</html>
