
<h1>Welcome to {{hotelName}}.</h1>
<div [hidden]="hideRooms">
    Number of rooms:
    <div [innerText]="numberOfRooms"></div>
</div>



<div *ngIf="rooms.availableRooms>0">
    Rooms List
    <table>
        <tr>
            <th>index</th>
            
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Room Price</th>
            <th>Room Amenities</th>
            <th>Room checkInTime</th>
        </tr>
        <tr *ngFor="let room of Roomlist; let i=index">
            <td>{{+i}}</td>
            <td>{{room.roomNumber}}</td>
            <td>{{room.roomType}}</td>
            <td>{{room.price}}</td>
            <td>{{room.checkInTime}}</td>
            

        </tr>
    </table>
    
</div>



<button (click)="toggle()">Toggle</button>